.video-wrapper{
    text-align:center;
    width:100%;
    position:relative;
}

.video-wrapper video{
    width:100%;
}

.video-overlay-image{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
    z-index:10;
    height:300px;
    width:300px;
}
